.certifications {
  text-align: center;
  /* background-image: url("./background.jpg"); */
  background: linear-gradient(135deg, #3db149 0%, #f9f9f9 100%);
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  background-position: center;
  background-size: cover;
  height: 85vh;
  padding: 5rem;
}

@media (max-width: 768px) {
  .certifications {
    height: 50vw;
    /* padding: 4rem 1rem 1rem 1rem; Adjust padding for smaller screens */
    padding: 4rem 1rem 1rem 1rem;
  }
}