.home {
    text-align: center;
    background-image: url("./background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    background-position: center;
    background-size: cover;
    height: 85vh;
    padding: 10rem;
  }

  /* Basic styling for the ul */
.flex-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between items */
}

.flex-list li {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  flex: 1 1 200px; /* Flex-grow and basis */
  text-align: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .flex-list li {
      flex: 1 1 calc(50% - 10px); /* 2 items per row */
  }
}

@media (max-width: 480px) {
  .flex-list li {
      flex: 1 1 100%; /* 1 item per row */
  }
}


  @media (max-width: 768px) {
    .home {
      height: 50vw;
      /* padding: 4rem 1rem 1rem 1rem; Adjust padding for smaller screens */
      padding: 10rem;
    }
  }
  